[2014-06-30 12:01] luzfcb opened #2 "Create a sample page on Github Pages"
Put sample html files on `gh-pages` branch and github automatically hosts and provides the url `http://kristopolous.github.io/BOOTSTRA.386/` or similar.

See:
https://help.github.com/articles/user-organization-and-project-pages#project-pages

[2014-07-01 07:53] nervo opened #3 "Sass version"
A sass version would be sooooo amazing !

[2014-07-02 07:50] tomer opened #5 "buttons not 'clickable'"
Button text and foreground should be repositioned to the shadow position when clicked (CSS :focus) to simulate old fashioned click effect.

I'd also suggest using CSS3 transitions to make a smoother animation effect.

[2014-07-02 10:50] loverdos opened #6 "Cannot build"
Cloning the repo and running `make` does not work. I figured out that running `npm update` before `make` does the trick

[2014-07-02 13:15] kaystrobach opened #7 "provide a bootstrap 3 version - please :D"

[2014-07-03 00:16] cvrebert opened #8 "project name in packaging files needs to be changed"
`package.json` and `composer.json` have the same (outdated) `name` values as Bootstrap itself. Please update these files to set the name to something else.

[2014-07-03 07:45] #8 closed, assigned to kristopolous

[2014-07-03 08:00] kristopolous opened #9 "[bs2] mobile menu bar doesn't generate right"
on the demo page. the mobile menu is screwed up.

[2014-07-03 08:22] #2 closed, assigned to nobody

[2014-07-03 08:35] #6 closed, assigned to nobody

[2014-07-03 09:00] #5 closed, assigned to nobody

[2014-07-03 10:40] kristopolous opened #10 "[bs2] fluid design needs to be better handled"
Specifically it's this demo page, which comes up pretty terribly: http://kristopolous.github.io/BOOTSTRA.386/examples/fluid.html

[2014-07-03 15:10] jacomyal opened #11 "Diagonal separations and color gradients in progress bars"
Examples [here](https://kristopolous.github.io/BOOTSTRA.386/components.html#progress).

**Edit:**
Forgot to specify: the problem is that the progress bars don't look that much 80's with gradients and diagonal separation.

[2014-07-03 15:10] ghost-458 opened #12 "Register package on Bower"
Please do! <3

[2014-07-03 15:56] MasterGroosha opened #14 "404 Error on "Download compiled" link"
The following link gives 404 error
https://kristopolous.github.io/BOOTSTRA.386/assets/bootstrap.zip

[2014-07-03 17:18] ingria opened #15 "Display errors in Firefox for Android"
There is a problem on fx latest (how i see the demo page):

![capture_04](https://cloud.githubusercontent.com/assets/2178368/3473197/0b24d1d2-02d5-11e4-94bf-729c97ce7d9b.png)

![capture_03](https://cloud.githubusercontent.com/assets/2178368/3473205/1fa5a9f6-02d5-11e4-89d8-f6ae42470e29.png)

Original bootstrap is OK

[2014-07-03 20:37] livejamie opened #17 "This is way too awesome I can't handle it"

[2014-07-03 20:50] #17 closed, assigned to kristopolous

[2014-07-03 21:11] mapmeld opened #18 "Bootstrap modal"
The modal window in the example should not appear until triggered.

It should be possible to close the modal in the example with the x or close buttons.

[2014-07-03 21:13] #14 closed, assigned to kristopolous

[2014-07-03 21:14] kristopolous opened #19 "Create a Compiled zipfile instead of linking back to the repo"
Using the single css links are great and all, but you won't get the js effects.  A package that has the compiled js in it should be made in the deploy process.

[2014-07-03 22:27] Levsha128 opened #21 "[feature request] add rectangle jumping cursor"
some demo-code for demonstration of idea:

[code]

[2014-07-03 22:29] dbkaplun opened #22 "Selected/hovered items in the mobile navbar are black on black"
[Screenshot](http://i.imgur.com/BfC07wE.png)

[2014-07-04 02:18] #22 closed, assigned to kristopolous

[2014-07-04 02:47] brettskiii opened #23 "nav panel not stretching across, and drop shadow is out of place"
http://gyazo.com/86944f7ce5940e674afdedf5cbf97a6d

[2014-07-04 04:36] kristopolous opened #24 "hero unit is really hideous"
the green background has to go --- it's terrible.

[2014-07-04 04:54] JTxt opened #25 "Override scrolling behavior to constrain location to character grid."
Observations while playing with edit.exe in dosbox:
- Pageup/down scrolls by one page instantly.
-  Blinking underline cursor shows and controls active position in document area. (not menu, but does show up on active button.)
  - Moved by mouse with a click or arrow keys. (if on a menu, it disapears.)
  - If at the edge, arrowkeys scroll by one character. if at the bottom, downarrow key it scrolls

[2014-07-04 05:17] JTxt opened #26 "Images not ASCII/ANSI. Switch video mode for fullscreen CGA/VGA rendering of images?"
Possible libraries, or a combination/remake is needed:
- Renders images to ascii in browser: http://www.nihilogic.dk/labs/jsascii/
- Renders canvas/bitmaps to ansi console: https://github.com/TooTallNate/ansi-canvas
- Renders ansi to a canvas: http://andyherbert.github.io/ansilove.js/
- Something I have not found yet.

So for BOOTSRTA.386, perhaps:
- Get the rendered size of the image, constrained

[2014-07-04 09:12] sellvana opened #28 "Header broken on "components" page"
https://kristopolous.github.io/BOOTSTRA.386/components.html

[2014-07-04 10:21] #24 closed, assigned to kristopolous

[2014-07-04 11:01] dschissler opened #29 "Please publish to bower"
I need this to be on bower.

[2014-07-04 11:02] dschissler opened #30 "Configurable load effect"
It would be great if the load in animation was slightly quicker and that the second load in effect was absent.

[2014-07-04 11:04] #29 closed, assigned to nobody

[2014-07-04 11:24] mindcaster opened #31 "load effect"
I'm so dumb that I cannot understand, how works your "loading effect" and what files provides it, and how can I add it to my page... :( Please, help! Is there some docs for this or something useful?

[2014-07-04 11:37] #30 closed, assigned to nobody

[2014-07-04 12:17] #19 closed, assigned to nobody

[2014-07-04 13:24] #31 closed, assigned to kristopolous

[2014-07-04 14:31] ghost opened #32 "[question] Movable dialogs?"
Hey,

are there any plans to implement an movable dialog? It would be great if you will support this!

Regards,
Jan

[2014-07-06 21:02] #15 closed, assigned to nobody

[2014-07-08 08:17] ghost opened #33 "There is no placeholder in google-chrome"
There is no placeholder in google-chrome, or it has the same color with navbar.

![placeholder](http://i.imgur.com/wCeFhEQ.png)

[2014-07-08 09:33] tomer opened #34 "Missing examples on getting-started.html"
The examples page contains some examples that are not BOOTSTRA.386.

![getting-started.html#examples](https://cloud.githubusercontent.com/assets/50206/3507743/0a5c9e00-0682-11e4-8de3-f1ca3c2f5ea7.png)

Live page: http://kristopolous.github.io/BOOTSTRA.386/getting-started.html#examples
Source: https://github.com/kristopolous/BOOTSTRA.386/blob/gh-pages/getting-started.html#L239

Images folder: https

[2014-07-15 22:54] #3 closed, assigned to kristopolous

[2014-07-15 23:06] #23 closed, assigned to kristopolous

[2014-07-15 23:17] saratheneale opened #36 "Important Label and Badge is white text on white background"
![screen shot 2014-07-15 at 4 11 19 pm](https://cloud.githubusercontent.com/assets/3619338/3592672/b0aad21a-0c75-11e4-97c1-14a845caecf6.png)

Seen on https://kristopolous.github.io/BOOTSTRA.386/components.html#labels-badges.

[2014-07-16 17:12] #36 closed, assigned to kristopolous

[2014-12-27 18:29] nlivni opened #38 "button not working on grey area above text"
I think this has something to do with the drop shadow but on chrome, firefox, and ie buttons only work at or below where the text appears, not on the gray area of button above. it seems to have something to do with the shadow because clicking on the shadow does activate a click.

awesome project. thanks, kristopolous.

[2015-01-21 20:04] ddo commented on #7
any update ?

[2015-02-04 22:38] idleberg opened #39 "cdnjs"
Would be nice to have the CSS files hosted on [cdnjs](https://cdnjs.com/) (and [jsDelivr](jsdelivr.com))

[2015-02-06 16:53] NurdTurd commented on #39
I highly agree.

[2015-02-28 21:30] TehShrike commented on #7
I don't see a Bootstrap 3 branch, is there a fork anywhere that people are working on?

[2015-02-28 22:04] kristopolous commented on #7
I have a large number of aborted attempts.

The problem is that the new stack with npm, composer, grunt, transpilers and all rest has made development really really unbelievably hard and extraordinarily complex.

I've spent dozens of hours with all these bizarre hipster stacks they are using now and am getting nowhere.

[2015-02-28 22:05] TehShrike commented on #7
ah, that sucks!

[2015-02-28 22:26] kristopolous commented on #7
yeah I know there's a large demand for this ... it's just be so discouraging spinning my wheels on it

[2015-02-28 22:29] snipe commented on #7
Would you mind if I took a stab at this? At least getting the basic scaffolding up?

[2015-02-28 22:36] snipe commented on #7
You don't actually need npm, grunt, etc to build the theme. That stuff just takes care of downloading all of the files and dependencies, and compiling SASS files and such.

You should probably use SASS, in which case grunt (or if you're on a Mac, something like SiteFlow) is helpful, since it watches the sass files and then generates a CSS file from it, but I think you can make this ready for Boots

[2015-02-28 23:56] kristopolous commented on #7
@snipe hit me up on skype/aim/facebook/google/yahoo using the handle kristopolous ... thanks

[2015-03-02 04:37] kristopolous commented on #7
ok i'm finally starting it.

[2015-03-05 21:14] kristopolous commented on #7
ok so I won't be updating this ticket too often.  Thanks to @snipe for the encouragement ... I can get overwhelmed by unneeded complexities sometime (kinda silly since I've been doing this stuff for 20 years).  Anyway, the v3 is going through some rapid revisions now so I guess just follow master to stay in the loop.

It will take the order of probably a few weeks - css as you know, is often hard

[2015-03-05 23:00] peter-mw commented on #7
when? pls make it sooner!

[2015-03-05 23:15] snipe commented on #7
@peter-mw It's never wise to pester people who are giving you free software. @kristopolous said a few weeks. It's a big job and he's allowed to have some semblance of a life, too. :)

[2015-03-05 23:27] kristopolous commented on #7
Hi @peter-mw, it's currently under constant development and is converging to where I'd like it to be.

Things like proper grid spacing are really the most time consuming. You are free to check it out any time and follow the progress.

I'd love your feedback.

Thanks!

[2015-03-05 23:30] peter-mw commented on #7
@snipe @kristopolous cool :) i didnt mean to push you just was too excited, whenever its ready i will use it. take your time and keep calm :)

[2015-03-05 23:50] snipe commented on #7
![tumblr_inline_nk9fi0yqif1r79k32](https://cloud.githubusercontent.com/assets/197404/6517383/45ff5d64-c34f-11e4-89e5-413aca6487f0.gif)

:D

[2015-03-06 00:48] peter-mw commented on #7
BOOTSTRA.386 for Bootstrap3 will be mind blowing :D

![dyo6x](https://cloud.githubusercontent.com/assets/5698247/6518110/21f223dc-c3ab-11e4-81c9-e567d97499a2.gif)

[2015-03-07 23:36] kristopolous commented on #7
ok if we are playing that game then I'll employ my https://github.com/kristopolous/UniFig project for making variable-width unicode art ...

▄░▄▄▄░▄░▄▄▄▄░░░░▄▄▄▄░▄▄▄▄░▄░░▄░▄░▄░░▄░▄▄▄▄
▓░░▓░░▓░▓▄▄░░░░░▓░░░░▓░░▓░▓█▓▓░▓░▓█░▓░▓░▄▄
▓░░▓░░░░▄▄▄▌░░░░▓▄▄▄░▓▄▄▌░▓░░▓░▓░▓░█▓░▓▄▄▌

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▄

[2015-03-12 03:01] kristopolous commented on #7
It's coming along nicely, anyone want to help me beta test it?

[2015-03-12 13:47] peter-mw commented on #7
i can try it on my site on the weekend

[2015-03-12 14:23] alexsupra commented on #7
i can try it on my web site on this weekend too

On Thu, Mar 12, 2015 at 4:47 PM, Peter Ivanov <notifications@github.com>
wrote:

--
alex

[2015-03-12 19:26] seriema commented on #7
Me too (even if my site is extremely basic)

[2015-03-12 22:11] kristopolous commented on #7
ok sure ... so here's how it will roll ... look at https://github.com/kristopolous/BOOTSTRA.386/blob/master/CONTRIBUTING.md to see what I consider to be a bug and what would be most useful for me.

I've registered ##bootstra386 on freenode.  I'll try to be on it the next few days and so you can catch me there.  Also you can hit me up on skype or other chat networks with the handle kristopolous.

I

[2015-03-13 22:40] kristopolous commented on #7
The tag is https://github.com/kristopolous/BOOTSTRA.386/tree/bs3-pre1 ... have fun.

[2015-03-16 20:25] kristopolous commented on #7
so how goes it? anyone try it?

[2015-03-16 21:11] peter-mw commented on #7
I started making a template, but still not ready

[2015-03-16 21:20] snipe commented on #7
I'm hoping to work on the Wordpress template this week

[2015-03-17 21:01] nemoo commented on #7
I tried it briefly on a little bootstrap 3 project of mine and it works great out of the box!

[2015-03-17 22:24] kristopolous commented on #7
great ... my main concern is that although i was pretty faithful to my rules I don't think this version is aesthetically sufficient.

Aesthetic balance was one aspect I really hit home on with the v2 -- probably because the v2 landing page was essentially 100% bootstrap css (something they decided not to do with v3).  So I had a lot of sample content to work with.

My primary interest now is that

[2015-03-22 13:13] seriema commented on #7
I tried it just now and getting some alignment issues in the footer (.inline-list) and links inside panels have the same color as the background.
Dump: https://dl.dropboxusercontent.com/u/5566693/index.html

Original:
My website: http://johansson.jp/
Github: https://github.com/seriema/seriema.github.io/

[2015-03-23 23:59] kristopolous commented on #7
hey hey, thanks! I was just about to call this a release.  Glad you came forward. Let me look into it.

[2015-03-24 00:01] kristopolous commented on #7
@seriema is the github the source code for this minified site?  I can't really debug it in its current form.

[2015-03-24 00:35] seriema commented on #7
Yepp. I just didn't commit the BOOTSTRA.386
You can probably take the unminified HTML and just add your CSS to it. It's a very simple site. =)

[2015-03-26 18:04] jasonsperske opened #40 "Collapsable Navbar needs a better button"
Here is what I ended up settling on, but I don't know if this is in keeping with the spirit of DOS UI so I wanted to see if anyone had any better ideas before I try and submit a patch:

[code]
Also I added this CSS to eliminate the border:

[code]

[2015-03-26 19:23] kristopolous commented on #40
just submit it. I'll look into it.

[2015-04-14 00:05] kristopolous commented on #7
ok I think I fixed the errors that were showing up on your site ... please check it out again. Thanks

[2015-04-17 21:13] kristopolous commented on #7
ok I'm going to assume these are patched.

[2015-04-21 20:10] kristopolous commented on #7
If you didn't notice, I tagged a pre2.  This is intended to be my last before a release. So please do your testing!

[2015-04-28 00:12] IngwiePhoenix opened #41 "Ideas..."
This is one very awesome bootstrap theme. In fact, I am very sure where to use it; as a stats page for my server. Since it provides a terminal to ssh into the server, that is pretty much a well-fitting theme.

Normally I work with Bootstrap 3. I am not sure how much the code has advanced in comparsion to the demo, but:

- Progress bars still seem to be using a gradient color. Not sure but it looke

[2015-04-28 08:22] kristopolous commented on #41
thanks i'll look into these.

[2015-04-28 08:30] IngwiePhoenix commented on #41
Awesome! :)

[2015-07-21 11:11] fastofruto commented on #7
Hi, just want to know how is v3 going.
When will the final release done?
Thanks!

[2015-07-21 17:32] seriema commented on #7
Sorry for never replying. I did a new test, using your pre2 version, which you can see [here](https://dl.dropboxusercontent.com/u/5566693/bootstra386/index.html). Don't worry about the overlapping texts below the icons, I was hiding it with custom CSS (which I disabled for now). You can compare to it using Bootstrap 3.3.5 [here](https://dl.dropboxusercontent.com/u/5566693/bootstrap335/index.html).

[2015-07-21 18:21] kristopolous commented on #7
@fastofruto use it and find some problems.  I don't see many on my end ... @seriema thanks, I'll look into it.

[2015-09-16 20:43] DannyCork commented on #9
sure is :(

[2015-09-17 23:27] kristopolous commented on #9
oh man, a frownie face ... I must address this immediately!  Do you still really care about bs2?

[2015-09-27 19:02] seiyria commented on #41
Any updates on this? I'm not keen on going back to bootstrap 2 just for this theme.

[2015-09-27 22:08] kristopolous commented on #41
it should be fine ... just do it

[2015-09-27 22:08] kristopolous commented on #41
oh wait this ticket

[2015-09-27 22:09] kristopolous commented on #41
lol ok sure ... I was looking for stuff to do today

[2015-09-27 22:14] kristopolous opened #43 "Progress bars still seem to be using a gradient color. Not sure but it looked that way."
This is a breakout from #41

[2015-09-27 22:14] kristopolous opened #44 "Some of the buttons are glitched. Like the button with loading state looses its shadow and shrinks down, then back up when it changes back again."
Breakout from #41

[2015-09-27 22:15] kristopolous opened #45 "The button sizes seem a bit odd. The small an dmini button are almost similar."
Breakout from #41

[2015-09-27 22:15] kristopolous opened #46 "There are no distinct colours for Alert, Success, ..."
Breakout from #41

[2015-09-27 22:15] kristopolous opened #47 "The brand part of the navbars are not having a background image."
Breakout from #41

[2015-09-27 22:16] kristopolous opened #48 "Primary navbar should be gray with black text, whilst inverse navbar should be black with white text."
Breakout from #41

[2015-09-27 22:16] kristopolous opened #49 "Modal closes aren't styled"
Breakout from #41

[2015-09-27 22:16] kristopolous opened #50 "Clicking a button makes it loose its shadow, therefore shrink and cause a flash o the interface."
Breakout from #41

[2015-09-27 22:17] kristopolous opened #51 "List styles don't have any indicator. Suggestion: draw a block that looks similar to a bigger pixel."
Breakout from #41

[2015-09-27 22:17] kristopolous opened #52 "In the search example, button and text field are not aligned. That will become problematic for my use case..."
Breakout from #41

[2015-09-27 22:17] kristopolous opened #53 "The add-on buttons arent fitting correctly"
Breakout from #41

[2015-09-27 22:17] kristopolous opened #54 "Dropdown/up vertical alignment is off"
Breakout from #41

[2015-09-27 22:18] kristopolous opened #55 "Make .well have a border and look like a tiny window, after all, that seems to be what they technically are. At least, a little box with a shadow."
Breakout from #41

[2015-09-27 22:19] kristopolous commented on #41
there we go ... step1 in the put 'em out, knock 'em down sophisticated advanced style of project management is done.

[2015-09-27 22:27] kristopolous commented on #43
I disagree.  See here: https://www.diigo.com/item/image/5enzo/m9t8

Re-open if you contest this.

[2015-09-27 22:27] #43 closed

[2015-09-27 22:33] kristopolous commented on #44
correct ... there are two dominant buttons styles ... the first is done

     < OK >

Like that.  see https://www.youtube.com/watch?v=hE-Voij5k5Q at 3:13 to see those buttons being engaged.

The second style, which is the recessed 3d style, can be seen here: https://www.youtube.com/watch?v=0HCRhF-up04#t=54 at 54 seconds to see that button engagement

You can see how engaging does that exact effect

[2015-09-27 22:33] #44 closed

[2015-09-27 22:34] kristopolous commented on #45
correct ... I should probably use the first style as documented in #44 ... let's keep this open

[2015-09-27 22:37] kristopolous commented on #46
I think the proper issue here is that there's inconsistency ... the button colors seem to be ok, but text ones don't seem to be respected.

[2015-09-27 22:38] kristopolous commented on #47
can @IngwiePhoenix give me a code snippet here?

[2015-09-27 22:38] kristopolous commented on #41
@IngwiePhoenix  look at https://github.com/kristopolous/BOOTSTRA.386/issues/47 I don't know if you'll get a notification on that one

[2015-09-27 22:45] kristopolous commented on #48
it's a mixed bag ... it's certainly light grey background ... but sometimes it's blue text (as in qbasic) but in other things such as edit and word for dos, it's black on grey.

As far as the other one, I think that lotus123 is the inspiration: https://upload.wikimedia.org/wikipedia/en/e/ec/Lotus-123-3.0-dos.png which is the big one I can think of with this style.

Anyway, as you can see here: htt

[2015-09-27 22:45] #48 closed

[2015-09-27 22:47] kristopolous commented on #49
The close button may need some work, but other than that I think this isn't a valid claim.  See here: https://www.diigo.com/item/image/5enzo/tn4b ... i'm going to rename this issue

[2015-09-27 22:51] kristopolous commented on #51
I believe this is already being done. See here: https://www.diigo.com/item/image/5enzo/c7r4 ... if you would like to contend this isn't what you are talking about then please re-open this bug.

[2015-09-27 22:52] kristopolous commented on #53
@IngwiePhoenix I need more clarity on this one

[2015-09-27 22:53] kristopolous commented on #41
@IngwiePhoenix also see #53, thanks

[2015-09-27 22:54] kristopolous commented on #50
This looks like a repeat of #44 so I'm going to close it

[2015-09-27 22:54] #50 closed

[2015-09-27 23:13] kristopolous commented on #46
ok so we have
## list groups (https://www.diigo.com/item/image/5enzo/hbq5)
<img src='https://s3.amazonaws.com/diigo/thumbnail_550/9075690_288377362_19337134.jpg?AWSAccessKeyId=0R7FMW7AXRVCYMAPTPR2&Expires=1443395328&Signature=6QZA%2Bpohm17nTy9aicUH6x136DE%3D'>

## panels (https://www.diigo.com/item/image/5enzo/04yp)
<img src='https://www.diigo.com/item/t/SNVcfjQUb9kD5H71b1r1fJ%2BALSEerdasboXebJXT9

[2015-09-27 23:15] #46 closed

[2015-09-27 23:17] kristopolous commented on #54
They Don't Close!! This is totally a bug. Good catch.

[2015-09-27 23:24] kristopolous commented on #54
yes they do ... it's just some example that forces them open.  It's not pixel perfect though... so let me rename this.

[2015-09-27 23:27] kristopolous commented on #54
So what we are looking at is the following
![The drop up menu](https://cloud.githubusercontent.com/assets/231761/10125732/636fc47e-6534-11e5-894a-ec6de9acb50e.png)

![Drop down menu](https://cloud.githubusercontent.com/assets/231761/10125735/9104ed06-6534-11e5-97a4-17b6183a3434.png)

Both of these have some issues that need to be resolved.

[2015-09-27 23:37] seiyria commented on #41
@IngwiePhoenix You can also check this out: https://github.com/seiyria/dos-strap -- threw this together in a few hours for bootstrap 3. It's not got any animations or anything special built in, but it covers most of the visual aspects.

[2015-09-27 23:45] #54 closed

[2015-09-28 00:06] kristopolous commented on #45
So here's our starting point
![button-sizes](https://cloud.githubusercontent.com/assets/231761/10125920/e24c3f5c-6539-11e5-80eb-961ba51e013c.png)

... I can't really invent new things that weren't seen in the wild.   I'll have to do a bit more research to see what kind of plan I'd like to do.

the 2.x branch did exactly what we have here and didn't differentiate at all really.

[2015-09-28 00:16] kristopolous commented on #45
so there's a 2d flat style ...
![flat style](http://www.computerhope.com/jargon/e/doseditwindow.jpg)

The 3d button without any indicator:
![3d no indicator](http://www.bttr-software.de/forum/img/uploaded/image35.png)

Some really crazy thing in dos visual basic, which IMHO, I've never seen in the wild:
![VB](http://www.blogcdn.com/www.engadget.com/media/2008/06/vb-dos-1.jpg)

You also have decora

[2015-09-28 00:18] kristopolous commented on #45
it's worth noting that the last one is breaking a lot of rules with regard to background colors ... it's a pretty late app

[2015-09-28 00:35] kristopolous commented on #45
I'm still far from lovin' it but this is a slight improvement
![button-redesign](https://cloud.githubusercontent.com/assets/231761/10126055/1c736878-653e-11e5-961b-e62366303316.png)

[2015-09-28 00:36] kristopolous commented on #55
I do like the 2.x variation of the well more than the 3x.  So I think I'll do some work and just get the 2x to come over.

[2015-09-28 19:05] IngwiePhoenix commented on #41
Hey!

So, so so so sorry @seiyria that I basically disappeared for so long. I once woke only to see all the notifications, since I watch the repo, and decided to work them down when i have time. I sat in the train and looked at them today, but im going to get into the swing with this theme and test a variety of things to prototype the desired project.

Again, very sorry for being so late on the to

[2015-09-28 19:07] seiyria commented on #41
That's okay. I needed this particular thing soon so I threw my own together. Enjoy!

[2015-09-28 19:08] IngwiePhoenix commented on #43
Could've been my eyes. I am partially sighted - thanks for looking.
Just in case, this also applies for the BS3 section/part?

[2015-09-28 19:12] IngwiePhoenix commented on #45
I see. Well they did seem different at first glance - between 2.x and 3.x that is - but i might have been wrong.

But the last picture you posted makes things more distinct - I like that. Good idea here. :)

[2015-09-28 19:13] IngwiePhoenix commented on #46
Nicely done! =)

[2015-09-29 23:25] IngwiePhoenix commented on #47
I thought I'd have seen it in the demo for BS3. But unfortunately, I seemingly am having problems to build the demo locally. The one online is Bs2.

Can you tell me what to run to build the local demo? I am not too familiar with Grunt, and `make build` didnt seem to do much either...

[2015-09-29 23:27] IngwiePhoenix commented on #48
Nothing to add here, sounds solid and nice references.

I was a OS 9 kid, so I did not get to see much of the DOSyness. :)

[2015-09-29 23:29] IngwiePhoenix commented on #49
Sometimes I wonder if I have seen an old version - because this one looks pretty awesome... o.o

[2015-09-29 23:31] IngwiePhoenix commented on #55
Sounds good to me. Go ahead! :)

[2015-09-30 06:09] kristopolous commented on #55
ok great ... it matches

[2015-09-30 06:09] #55 closed

[2015-09-30 06:21] #49 closed

[2015-09-30 06:22] kristopolous commented on #47
in one terminal type

jekyll serve

in another type

grunt watch

why they decided to do this I will never know.

[2015-09-30 06:23] kristopolous commented on #45
in the 2.x branch I made the large buttons actually occupy an extra height ... I think I'll do that here

[2015-09-30 06:56] #45 closed

[2015-09-30 07:20] kristopolous commented on #52
that's just because of a wrap due to padding... it is fine if you give it more space.

[2015-09-30 07:20] #52 closed

[2015-09-30 07:39] kristopolous commented on #41
all these things have been addressed or separate bugs have been created so I'm closing this.

[2015-09-30 07:39] #41 closed

[2015-10-02 16:50] kristopolous commented on #7
### It's done now
![party](http://images-pictures.org/wp-content/uploads/2015/05/birthday-party-clip-art-1.jpg)

[2015-10-02 16:50] #7 closed

[2015-10-02 17:00] NurdTurd commented on #7
:dart: :+1:

[2015-11-22 14:58] aayushkapoor206 opened #56 "What about the cursor?"
@kristopolous Can a cursor be added so that whenever the mouse moves the cursor is the old solid grey block? I think it can be achieved with canvas. What's your thinking?

[2015-11-22 14:59] aayushkapoor206 commented on #56
I specifically said canvas so that we can divide the page into tiny blocks that'll represent the cursor and get the location of the mouse. with default cursor turned off, the block in which the cursor is can be filled with grey colour.

[2016-01-04 22:02] kristopolous commented on #56
Sounds like a potentially bad idea. Fundamental UI hijacking usually just aggravates an interface because that stuff is actually dreadfully harder than you think.

I'm all for making it optional, but not the default.

The narrative structure is "Well we are just doing simple change of X to Y. It is minor and I don't see a problem with it."  And then the work commences and everything breaks horribl

[2016-04-22 18:17] cb88 opened #57 "Bootstrap theme switcher?"
So I used a slightly modified version of https://github.com/jguadagno/bootstrapThemeSwitcher

Would it be possible to get BOOTSTRA.386 working with this? I suspect it would require me to jump through a few hoops since most of my themes don't require swapping out the JS only the CSS file.

[2016-04-22 21:10] kristopolous commented on #57
I've read this but I'm at work right now. I'll try to remember to get you an answer this weekend.

[2016-06-05 09:57] Haroenv opened #58 "Carousel overflows body"
tested on: Safari 9.1 and Chrome 53

![](https://i.imgur.com/409hMuR.png)

A `overflow-x: hidden;` could probably fix it.

[2016-06-06 07:55] kristopolous commented on #58
hah that's terrible let me check this

[2016-06-06 08:08] kristopolous commented on #58
can you send me the code here somehow?

[2016-06-06 08:10] kristopolous commented on #57
maybe getting this on bootswatch would be the best approach? let me email them

[2016-06-06 08:12] Haroenv commented on #58
What code? This was the demo linked in your documentation http://kristopolous.github.io/BOOTSTRA.386/examples/carousel.html

[2016-06-06 08:14] kristopolous commented on #57
so I emailed the guy and this theme may be integrated on the site eventually.  However, looking at the project you linked to (https://github.com/jguadagno/bootstrapThemeSwitcher/blob/master/jquery.bootstrapThemeSwitcher.js) this looks like a pretty easy thing to point to wherever you want ... did you try to make this code actually do what you were trying to achieve?

[2016-06-06 08:15] kristopolous commented on #58
oh you kid ... alright then.

[2016-06-06 08:15] kristopolous commented on #58
wow that site is totally messed up

[2016-06-06 08:16] kristopolous commented on #58
this is the bootstrap 2.x branch, are you honestly still using that?

[2016-06-06 08:17] Haroenv commented on #58
I'm not using it, this is a report that something's wrong with your demo.

[2016-06-06 08:19] kristopolous commented on #58
alright yeah ... that's the bootstrap people's demo with my css theme ... I didn't navigate to every page ... and the "right" thing is probably to just replace this with the bs 3 version anyway.

Thanks for the note.

[2016-06-06 08:34] kristopolous commented on #58
you know what, there should be some "aggressive" mode because they have this docs override which really kills the theme. It's pretty annoying.  I think the best thing to do is to make it JS - otherwise there'd be a separate css file to include and people could still break things ...

[2016-06-07 13:24] cb88 commented on #57
Yes I did try getting it working, I probably missed something however as it didn't work.
Most of the themes don't use a separate or modified js file as far as I know... do they?

    On Monday, June 6, 2016 4:14 AM, ᴄʜʀɪꜱ ᴍᴄᴋᴇɴᴢɪᴇ <notifications@github.com> wrote:

 so I emailed the guy and this theme may be integrated on the site eventually. However, looking at the project you linked to (https://

[2016-06-08 00:09] kristopolous commented on #57
no the js isn't required.  Also, try to reply on github and not in email ... it puts the whole thread in the github comment.  If you can post it somewhere I can take a peak.

[2016-06-26 10:37] piranna opened #59 "Use tty CSS media type"
CSS media type has support for [tty](https://www.w3.org/TR/CSS21/media.html#media-types), we should add it to render the page correctly on terminals :-P

[2016-06-26 11:23] kristopolous commented on #59
that's interesting. Does anything support this?

[2016-06-26 11:30] piranna commented on #59
Don't know, maybe w3c or elinks, and it seems maybe Chrome can emulate it:

https://developer.chrome.com/devtools/docs/device-mode#screen-emulator

I think it should be used as reference, and would be nice and simpler if it
would be possible to mock the 'tty' media type on regular browsers.
El 26/6/2016 13:23, "ᴄʜʀɪꜱ ᴍᴄᴋᴇɴᴢɪᴇ" <notifications@github.com> escribió:

[2016-06-26 11:34] kristopolous commented on #59
fascinating. Well if you can get a proof of concept working I'd love to see it.

[2016-06-27 08:08] piranna commented on #59
http://stackoverflow.com/questions/20571179/display-html-element-only-in-text-browsers

Definitely, it seems both Lynx and Elinks support the `tty` media type :-)

[2016-06-27 21:49] kristopolous commented on #56
adding this as part of the JS options sounds fine. I accept the challenge.

[2017-02-13 19:17] turqoisehex opened #60 "Issues with Carousel"
On the javascript page, the buttons on the carousel don't consistently work. When clicking back and forth, sometimes they work, sometimes they don't. The selector in the top right also doesn't display correctly; when it's on the first image it shows none selected, on the second image it's invisible because of lack of contrast (white on white) and on the third image it shows the highlight on the fi

[2017-03-26 10:44] piranna commented on #59
`tty` media type [has been deprecated](http://stackoverflow.com/a/20571901/586382), and we should use insted the [grid media feature](https://www.w3.org/TR/mediaqueries-4/#descdef-media-grid).

[2017-05-15 11:51] idchlife opened #61 "Color doesn't apply to buttons. First letter is red, all text is gray (almost as button background)"

[2017-05-18 19:59] kristopolous commented on #61
Can you provide a screen shot? thanks.

[2017-09-02 01:06] novalic commented on #60
Hey buddy, I couldn't find the correct line to disable the high-contrast images. Line 648 in bootstrap.css refers to a glyphicon content. I downloaded the files at least 6 months after your post so file must have changed. Can you tell what is the code that makes the images on high contrast?
Ty!

[2017-09-02 22:27] kristopolous commented on #60
the high-contrast was an effort to emulate ega-16 ... for some reason I'm not getting notices of these bugs. I don't have time to look into this right now but now I see there's lots of activity here I haven't attended to ... sorry

[2017-09-02 22:28] kristopolous commented on #61
hey, anyone else see this?

[2017-09-02 22:31] kristopolous commented on #39
Alright sure ... I might as well do this. How does one get their stuff on this? I don't see a signup or upload

[2017-09-03 07:29] NurdTurd commented on #39
@kristopolous According to jsDelivr:
[code]

So you could do:

Tried doing `https://cdn.jsdelivr.net/gh/kristopolous/BOOTSTRA.386/v3.3.2/dist/css/bootstrap.css` but it didn't work.

There's also [RawGit](https://rawgit.com/).

So

`https://raw.githubusercontent.com/kristopolous/BOOTSTRA.386/master/v3.3.2/dist/css/bootstrap.css`

Turns into:

`https://cdn.rawgit.com/kristopolous/BOOTSTRA.386/master

[2017-09-18 07:45] tomasparks opened #62 "fonts"
here are some fonts that may enhance the look

https://int10h.org/oldschool-pc-fonts/fontlist/

[2017-11-22 04:56] extend1994 commented on #39
Hi everyone! I am a member from cdnjs :smile:
There is a corresponding library request opened by @NurdTurd https://github.com/cdnjs/cdnjs/issues/11775 (Thanks for request! :+1: )
I am afraid that cdnjs will need maintainers/authors to release versions with distribution on git repo, npm or other similar public platform. It currently seems like that only zip files has distribution. In this case, I w

[2017-11-22 10:29] kristopolous commented on #39
Can you give me an example, with a URL link, of what you'd like to see, so I know what action to take?Please note this is a CSS bootstrap theme with a bit of javascript, and not a nodejs library. Thanks.On Nov 21, 2017 8:56 PM, LboAnn <notifications@github.com> wrote:Hi everyone! I am a member from cdnjs 😄
There is a corresponding library request opened by @NurdTurd cdnjs/cdnjs#11775 (Thanks for r

[2017-11-24 00:04] extend1994 commented on #39
Sorry for late reply here. :sweat:
@kristopolous Sure I can give an example :smile:
This issue https://github.com/yusugomori/csssans/issues/7 asked the author if he can add a tag for versions to let cdnjs be able to fetch the files cdnjs needs automatically (in this case, they are css/js files under `src` of the project) via a mechanism called "auto-update".

cdnjs hopes to fetch files by setting

[2018-01-09 14:20] kristopolous opened #63 "navbar-fixed-top and navbar-fixed-bottom conflict"
This is a report from https://www.reddit.com/r/webdev/comments/7p0ds6/bootstrap386_a_vintage_1980s_dos_inspired_twitter/dsf0d26/ and is copied here in case that link goes dead:

![s6fijhx](https://user-images.githubusercontent.com/231761/34725240-2842b98e-f505-11e7-9c5d-4ff30212716d.png)

[2018-01-10 08:44] kristopolous opened #64 "Keyboard navigation"
In the most recent wave of popularity there were at least 5 independent requests for keyboard navigation.

The window manager and browser captures lots of traditional key combinations and ignoring that fact is a problem.

A potential solution is a full modal design where the meta keys can set a mode so instead of alt+f it's alt, then f.

This solves the problem but in a really stupid way. There ma

[2018-01-10 14:23] kristopolous commented on #64
There's also the tmux/screen/vim modal paradigm, but there's a learning curve there.

Also on modem (last 25 years or so) keyboards, any key can really act as a quasi mode, so long as you don't have too many at once; but that too is a bizarre interface.

[2018-01-20 01:42] kristopolous opened #65 "BS4 version"
Yet another round of BS has come out and I should probably support this BS because everyone else is working with and implementing all this BS. So let the BS work begin!

[2018-03-28 21:17] lschumm commented on #61
yep, repro'd. seems that in the ZIP bundle linked in the README, `buttons.less:21` declares `.btn::first-letter` to have `color: #aa0000`.

[2018-04-23 13:12] ypnos-web opened #66 "Current BS 3.3.2 dist broken"
Hi,

this is really the greatest BS I have seen so far. However your current release is broken for older BS:

1. Font files are expected in css/fonts but missing. Can be copied over from 2.3.1
2. `bootstrap.js` includes:
[code]

Apart from `require()` not working, I also did not find any of these files.

[2018-04-23 13:45] juancrescente opened #67 "Loading effect not working / don't know how to use it"
I've download an example but it does not make the loading effect of loading content from left to right. How can I do that?

[2018-04-23 13:54] juancrescente commented on #67
Done! added

[code]
and

`<script src="assets/js/bootstrap-386.js"></script>`

[2018-04-23 13:54] #67 closed

[2018-05-05 20:22] lramage94 opened #68 "BOOTSTRA.386 MkDocs Theme Licensing"
Hello,

How do I properly credit/sub-license my theme that is based on your work.

https://github.com/lramage94/mkdocs-bootstrap386/

I basically just took the regular bootstrap theme for mkdocs and put your files into it.

I currently have a hyperlink at the bottom of the page with a link to your project.

[code]

This is an excellent project. Thank you for creating it.

[2018-05-22 20:03] lramage94 commented on #68
I have licensed this as BSD 2-Clause "Simplified" License.

https://github.com/lramage94/mkdocs-bootstrap386/blob/master/LICENSE

If this is wrong, please let me know and I will fix it.

[2018-05-22 20:03] #68 closed

[2018-05-30 20:12] hyperbolictonic opened #69 "Not an issue"
Just wanted to say that this is freaking amazing.
Watch this space, I am starting a new web project based on a dos classic. Will report back.

[2018-07-24 00:51] Hectate commented on #65
I just happened to find this BS and it's great. Is a v4 being worked on? :)

[2018-08-27 02:07] jtiscione commented on #66
A bunch of files seem to be missing. Nothing looks like it does in the demo.

[2018-11-02 00:34] haydennyyy opened #70 "Any progress on TWBS 4.1?"
I know you said you were working on it in #65 but I haven't seen any non-vanilla-BS changes in 9 months. If you know of an updated fork you could point me to at least, that'd be great.

[2019-01-26 07:03] javatlacati commented on #59
If you are reading this and can't wait to try, you can download now one of those text-based browser on https://lynx.invisible-island.net/release/

[2019-01-26 07:56] javatlacati commented on #21
What about something like that using mix-blend mode:

https://jsfiddle.net/javatlacati/5jvnxpkb/

[2019-02-08 17:46] builder7777 opened #71 ".lead class is not as described in documentation"
In the documentation, adding `.lead` puts a border around the element, however the downloaded source does not have it, even in css the border is not defined:
[code]

[2019-03-23 00:18] TheGreatYamcha opened #72 "progressive animation sometimes doesn't work"
I've enabled progressive animation (by setting body visibility to hidden). Sometimes, it seems the body remains hidden. This happens sometimes Chrome but much more in Firefox.
I found this line in the bootstrap.js:
`pass = ($(document.body).css('visibility') == 'visible') ? 1 : 0`
when I debug this line, `pass` is sometimes 1 and sometimes 0, when refreshing on the same page (cache enabled/disable

[2019-05-06 01:16] dessalines commented on #70
Same, anyone know of a fork that's doing this work?

[2019-06-04 17:38] maxlefou opened #73 "please add more documentation"
It's been hours i'm fiddling with this theme and I just can't make it work the same way as the demos you provided. Like, I can't even get the navbar right.

Technically a bootstrap theme should change the appearance of a website without touching the html inside. But when I simply try, for instance, to get a basic navbar, using the code in [bootstrap's documentation](https://getbootstrap.com/docs/4

[2019-08-22 19:53] nilp0inter commented on #39
Anything we can do to move this forward?

[2020-02-01 21:37] dessalines opened #74 "I made a bootstrap v4 theme of this."
Very rudimentary, really only the colors and some other things, but here it is:

https://github.com/dessalines/lemmy/blob/3f561710ef63fbb538abfbbbe8de7dbb3c361a14/ui/assets/css/themes/_variables.i386.scss

You can tweak it by importing it to https://bootstrap.build/ if you like.

[2020-04-13 10:22] kristopolous commented on #74
right I need to do that. let me look

[2020-04-13 10:22] kristopolous commented on #73
alright sure.

[2020-04-13 10:23] kristopolous commented on #70
sure, this is such a silly project to take seriously ... guess I'll do that soon.

[2020-04-13 17:01] dessalines commented on #70
I have a pseudo theme that kinda looks like this, but its not anywhere near as complete. [_variables.i386.scss](https://github.com/LemmyNet/lemmy/blob/master/ui/assets/css/themes/_variables.i386.scss)

[2020-04-13 17:30] dessalines commented on #74
I'll close this and let it go to the other ticket.

[2020-04-13 17:30] #74 closed

[2020-04-13 23:07] kristopolous commented on #72
Honestly things are probably different now then in 2013 when I wrote that. I should revisit it all. I've had dreams of a new version recently.

[2020-04-13 23:08] kristopolous commented on #69
oh man, this is the top bug for the project. let me label it.

[2020-04-13 23:08] kristopolous commented on #66
hrmm that sucks ... let me try

[2020-05-03 02:14] kristopolous commented on #70
you may have noticed ... the commits are coming in. It's going to be a lot of work to transform this thing over. It's all in ems which we can't use. Well ok, I could *technically* use it ... the problem is that (r)em is (r)em whether vertical or horizontal and the DOS fonts are rectangles. There's technically 3: 9x14, 8x14 and 8x8 but I need to pick one so I use 8x14 for the calculations.

Now yes

[2020-05-03 02:16] kristopolous commented on #70
alright sure I'll do a hybrid for now.

[2020-05-03 05:02] kristopolous commented on #65
yes, 2.5 years later, as the world collapses, I am dedicated to BS

[2020-05-04 09:21] kristopolous commented on #65
Progress on the jumbotrons.

It takes the h1 text and then pushes it up to be a fake title.

![jumbotron](https://user-images.githubusercontent.com/231761/80952055-e63f7b00-8dad-11ea-868a-009763f79e25.png)

[2020-05-04 09:23] kristopolous commented on #65
style subject to change of course but there's been a good amount of new css since I wrote the first one in 2013/2014 ... a number of things are possible now that weren't then.

[2020-05-04 10:43] kristopolous commented on #65
I was using the dialogs of qbasic here as a reference
![Qbasic_1](https://user-images.githubusercontent.com/231761/80957942-0294e500-8db9-11ea-83b3-668432fb70b6.png)

And this one is nice too. Centering is really really hard because it needs to follow the fictitious pixel grid and well, everything is fluid these days.

I'm not saying it's impossible, of course JavaScript can do magic, I'm just say

[2020-05-05 01:43] kristopolous opened #79 "bs4: alignment engine"
I have this sick fantasy that there may be a way to coerce horizontal and or vertical character alignment to mock the character displays of cga/ega without:

 * using javascript
 * requiring any extra html
 * limiting the viewport to say "x" number of characters. The user resizes the window and the document flows naturally across while at the same time maintaining pixel alignment

Before (v2/v3) I

[2020-05-05 01:53] kristopolous commented on #79
my most recent attempt was to use the `<col>`'s `align="char"` feature which has been deprecated for a while now. Here it is in HTML 4.01 (https://www.w3.org/TR/html401/struct/tables.html#adef-charoff). As an interesting thing, this leads to a strange underused version of CSS's text align:

    align: [ col alignment character] center

I can't find this in any w3 spec but mdn has it in their wiki:

[2020-05-05 01:57] kristopolous commented on #79
an earlier model was trying to use the w3c's rhythmic sizing feature of `line-height-step` which looks like it can perhaps maybe I dunno, get vertical alignment to be guaranteed? I don't know how ... but it does do the stepwise thing that I need

https://drafts.csswg.org/css-rhythm/#line-height-step

[2020-05-05 05:24] kristopolous commented on #73
the 3.3 version was really incomplete I'm guessing that's what you were using ... the v4 version should be working eventually and it may have some extensions ... I'm still thinking it over

[2020-05-05 13:06] maxlefou commented on #73
In fact, after testing all and all, so far the only version i could make work correctly was the v2 (and i had to learn how bootstrap v2 worked. lol)

If i have time i'll see if i can contribute for it ^^

[2020-05-06 23:57] kristopolous commented on #65
I'm going to get a status page going soon ...

[2020-05-07 06:22] kristopolous commented on #65
http://kristopolous.github.io/BOOTSTRA.386/demo.html it's still pretty fucked up but yeah ... the first version took like 6 months.

[2020-05-10 00:19] kristopolous opened #81 "built-in figlet system"
A way to ascii/ansi(simulated of course) art say, all h2 text would be pretty great.

For those unfamiliar with figlet, go here: http://www.figlet.org/

The theme here isn't "text emulation of graphics" though ... it's webpage emulation of terminal programs. So given that we're looking at the BBS style art or the blocky text style of things.  Oh right I made that project already.  Sorry that was 7

[2020-05-10 00:30] kristopolous opened #82 "a decent ansi-to-html converter"
so this an another aside. There's a bunch of these actually but they always have a one-pass approach. I don't want to finger point, you can find them yourself but basically they make a <style> as essentially a lookup table and then do a preg-replace of escape codes with spans or even worse do just inline css.  Essentially you turn complex ansi graphics  into a giant honking file that brings every

[2020-05-10 00:32] kristopolous commented on #9
I'm citing JWZ's famous CADT here: https://www.jwz.org/doc/cadt.html ... on to BS 4.

[2020-05-10 00:32] #9 closed

[2020-05-10 00:33] #10 closed

[2020-05-10 00:34] kristopolous commented on #11
closing this out via JWZ's CADT: https://www.jwz.org/doc/cadt.html ... on to BS 4.

[2020-05-10 00:34] #11 closed

[2020-05-10 00:37] kristopolous commented on #21
oh interesting ... you know I should probably get a feature set for this thing sometime. This will solve another problem of mine, which is the true dos shadow. Look here: https://github.com/kristopolous/BOOTSTRA.386/wiki/Gallery ... many programs cleverly simulated a darken effect.  We need to somehow ignore the true color darken we have now and re-simulate their darken.

[2020-05-10 00:39] kristopolous commented on #12
yo is this still a thing people use or is there a shiny thing they've moved on to?

[2020-05-10 00:41] kristopolous commented on #25
really this should be implemented outside the project ... it may already exist elsewhere and can just be integrated, you know, like a library

[2020-05-10 02:34] rtconner commented on #12
The hit new shit: https://jdan.github.io/98.css/

[2020-05-10 09:07] kristopolous commented on #12
yeah I saw this.

[2020-05-10 09:22] kristopolous commented on #12
starting from scratch is a far easier task ... bootstra is really more stuffing a square peg in a round hole which is positively delightful is masochism is on your agenda - it's usually not on mine.

Although sometimes ...

[2020-05-18 07:07] spotUP opened #83 "Drawing in the bootstrap 4 version?"
Hello!

I tried the latest version yesterday but i couldn't get the fancy bbs style line drawing to work?
Is it supposed to work?

I had to use the 2.3 version for my project and .. well.. it's old. :D I failed to align an image the way  i want to.

I am rebuilding a quite popular underground ascii community called asciiarena for bbs art guys.

Can I contact you guys on irc or via mail or somethin

[2020-05-18 12:08] kristopolous commented on #83
nope, doesn't exist yet. I started may 1 really and it's just me. You can just text me directly. factor 57015009877788133 and you'll see jenny's number and mine.

[2020-05-18 12:11] kristopolous commented on #65
I'm going to make about 20 of these at the end of the month, load them with version 2/3/4, maybe some little surprises  or so, and put them on ebay for $5 each. I'll update the readme and tell y'all when it's there.

Buy my software, yo!

![bootstra](https://user-images.githubusercontent.com/231761/82211504-cc318c80-98c5-11ea-8dc3-b28e4e359135.jpg)

[2020-05-18 13:44] spotUP commented on #83
i don't know how to do that factoring stuff. i am not a math guy. =)
when do you think you'll have v4 in a useable state?

[2020-05-18 18:34] spotUP commented on #81
converting ansi codes to html would be pretty awesome too.

[2020-05-18 19:12] kristopolous commented on #83
Maybe end of month. You can do it at the command line at least in Linux. Use the factor program

[2020-05-18 22:43] kristopolous commented on #81
There's many projects that do this already. I covered there flaws in #82

[2020-05-20 19:53] spotUP opened #84 "Problems with modals"
Hi! I am building a site with the wip bootstrap 4 version.
I just wanted to let you know that there seems to be an issue with modals. No buttons can be clicked and the modal itself gets darkened as well.

[2020-05-20 19:57] spotUP commented on #84
Lowering the z-index here fixes it:

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1029;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

[2020-05-20 20:33] spotUP commented on #64
oh wow... keyboard navigation would be really cool! =)

[2020-05-20 20:34] spotUP commented on #81
A built in figlet system would be really cool.. as that is what my community site is all about. Ascii logos. Haha maybe the artist would start doing their own character sets and start dropping ascii collys like there is no tomorrow.. it would be really neat to type in an ascii logo quickly and do the final tweaks after that.

[2020-05-20 20:36] spotUP commented on #79
Cool!

[2020-05-20 20:40] spotUP commented on #65
So... v4 will gout out of wip state by the end of the month? <3

[2020-05-20 20:43] spotUP commented on #83
ok, i got two numbers.. you mean text like send a text via sms? :D that's.. oldskool i guess.

[2020-05-21 17:12] kristopolous commented on #84
Yep, modals aren't done yet. I'll get to them. Thanks.

[2020-05-21 17:13] kristopolous commented on #64
Right now there's zero js from me at least in the newer version. I'm saving that until the end, sometime in the next week or two

[2020-05-21 17:14] kristopolous commented on #81
I'll essentially be looking to WASM figlet

[2020-05-21 17:16] kristopolous commented on #83
Yeah, just hit me up if you want. I'm ok with it.

[2020-05-21 23:02] kristopolous commented on #65
That's the current plan. We'll see how close I hit it.
![text-area](https://user-images.githubusercontent.com/231761/82614304-602c7e00-9b7c-11ea-8ab2-067794380458.png)

[2020-05-21 23:22] kristopolous commented on #65
when I get it perfect it messes with my brain, because it enters this mysterious UX uncanny valley. It's pretty surreal, unlike anything I've experienced before.

[2020-05-22 20:19] spotUP commented on #65
Awesome =)

[2020-05-22 20:23] spotUP commented on #64
Sounds cool to me!

[2020-05-22 20:24] spotUP commented on #84
I see. My temp solution works for now.

[2020-05-22 20:32] spotUP commented on #81
Cool. If we could do an online editor for custom charsets and letting users upload those we have a winner for sure.

[2020-05-24 09:14] kristopolous commented on #81
That's a different project really. This is more  a clone of full screen productivity applications, which is why the bootstrap marriage works.

There's so much work on the emulator world these days and to be honest i haven't really gotten deep into it. I know you can find basically any classic system through a web page these days. If we're talking new software that's a good talk, but emulated termi

[2020-05-26 21:22] kristopolous commented on #65
so end of the month is getting close I'll make a milestone with the bugs

[2020-05-26 21:27] kristopolous commented on #62
wow these are pretty sweet. I'm using https://archive.org/details/ultimate_oldschool_pc_font_pack_v1.0 which is the actual letters transferred from vintage video ROMs and stuffed into modern font formats.

[2020-05-26 21:27] #62 closed

[2020-05-26 21:30] #66 closed

[2020-05-26 21:40] kristopolous commented on #73
I'll probably make a video. I made this for another project https://www.youtube.com/watch?v=3GT1J-ejM3Q

This one will be a bit different ... it'd be a challenging project. Essentially I want a tutorial on setting the thing up ... that part is easy.

I'll want it to look like it was made in about 1993 or so so I want it to be on Windows 3.1. Essentially I put in my boostra floppy disk, extract the

[2020-05-26 21:44] #63 closed

[2020-05-26 21:45] #60 closed

[2020-05-26 21:55] kristopolous opened #85 "BS-4 remaining"
BS is a large project ... there's about 8,000 lines of scss, which doesn't sound that huge, but I'm auditing all of it.  The possibility of me missing a BS feature is quite high and I know they're working on BS-5 so let's make sure this thing gets done.

I don't know how on earth a front-end design project became my most popular project - I'm actually a low-level, backend and application programme

[2020-05-26 21:56] kristopolous commented on #65
Alright things have been itemized in #85 ...

[2020-05-27 07:31] maxlefou commented on #73
heh that challenge sounds funny ^^ Though i wonder if UTF-8 actually works on win3.1 too :p

[2020-05-27 09:10] spotUP commented on #85
awesome!

[2020-05-28 09:26] kristopolous commented on #85
If I get time with would be really just stunning is if the colors changed on mobile to match the old monochrome lcd screens. It's a curious and unique set of colors on these old devices. It's not just "black" and "grayish" ... It's pretty specific, and they weren't uniform, the area where content could be was a bit greener...
![post-104-1146960611](https://user-images.githubusercontent.com/231761/

[2020-05-28 12:22] spotUP commented on #85
Cool idea, but please make it optional in that case. =)

[2020-05-28 21:32] kristopolous commented on #85
we'll see ... if it works well I'll probably wave my dictatorial scepter and make it mandatory, this is an art project after all ... I kinda have to follow my instinct here.

[2020-06-02 19:16] kristopolous commented on #85
the carousel is really the remaining piece ... I think the fugly ticket I'll have to like reformat it for a pitch page ...

Also I think I may have to add a few things to bs for the dos mode. I keep circling back to putting the primary/info/alert/warning classes on the h tags

[2020-06-02 19:17] kristopolous commented on #85
also I haven't done any js yet ... probably should do that somewhere

[2020-06-04 05:56] kristopolous commented on #85
i'm just going to punt the carousels, get the centering to work, package it up and ship it.

[2020-06-09 20:07] spotUP commented on #83
is this implemented now? =)

[2020-06-09 22:36] spotUP opened #86 "Change input caret to a block?"
Oldschool terminals didn't use a line as an input caret but a block, could this be implemented?

[2020-06-09 22:37] spotUP commented on #86
I forgot to say, a blinking block, ofcourse. :D

[2020-06-10 07:01] kristopolous commented on #86
there's caret-color and that's about it. generally speaking fucking with the baseline ux elements like text input with javascript is far harder that one thinks. i still frequently see bugs on facebook's version ...

Arguably firefox has the api that would make this actually possible in a bug free way https://developer.mozilla.org/en-US/docs/Web/API/CaretPosition ... but yeah, that's about all ther

[2020-06-10 07:03] kristopolous commented on #86
as an aside I have put a blocky cursor in just recently ... https://github.com/kristopolous/BOOTSTRA.386/commit/46d7de0f1a9e82285a4502f19bdce6a09412e8bc around there ... there's not integration, testing, documentation yet but that'll come soon

[2020-06-10 22:46] kristopolous commented on #86
yeah it was only half done yesterday ... the vertical problem has been alleviated by a hack to scroll to the character start (essentially by adding negative padding when the scrolling happens, keeping the content aligned) see https://github.com/kristopolous/BOOTSTRA.386/commit/144a490ab1252f54bffbc649d6cb6950a41f9606

This feature fixes the other issue.

The horizontal alignment hasn't been addres

[2020-06-10 22:47] kristopolous commented on #86
also I'll need to revisit this code and do requestAnimationFrame, which is apparently how this is supposed to be done these days so as to not pester complicated sites with a bunch of redraws.

[2020-06-10 22:48] kristopolous commented on #25
this is covered in #86 ... finally.

[2020-06-10 22:48] #25 closed

[2020-06-10 22:48] kristopolous commented on #21
#86 covers it ... thanks for the code ... I used most of it.

[2020-06-10 22:48] #21 closed

[2020-06-10 22:51] #79 closed

[2020-06-10 22:52] kristopolous commented on #56
see #86

[2020-06-10 22:52] #56 closed

[2020-06-10 22:59] kristopolous commented on #85
Using the new features of the scrolllock and the magic cursor, the alignment issues are far better to spot then when I was using [grid.svg](https://github.com/kristopolous/BOOTSTRA.386/blob/master/icon-gen.js) generated by this small nodejs script

[2020-06-12 18:21] #47 closed

[2020-06-12 18:22] kristopolous commented on #84
they're working now, closing. thanks for the report

[2020-06-12 18:22] #84 closed

[2020-06-12 18:24] kristopolous commented on #64
there's this rule that very few people follow https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex ... I can imagine that keyboard navigation is a generally solved problem as a plugin

[2020-06-14 21:31] spotUP commented on #85
"Ideally you'd get perfect alignment at every pixel ... there's really no reason you shouldn't be able to (well I may change this but right now that's my claim)."
*** awesome, gogogo! ***

[2020-06-16 22:44] sburban-oracle opened #87 "Multiple components aren't working."
I'm excited to use this theme but I'm running into a lot of things that don't seem right. I extracted the css/fonts/js folders into my project folder and imported them all into my website, seems to work fine. However so far:

1) The loading animation isn't working, I tried adding the script
`	<script>
		_386 = {onePass: true, speedFactor: 1.25 };
	</script>`
No matter what I do with it, there WILL

[2020-06-22 21:58] spotUP commented on #83
Bump! It's so cool!

[2020-06-30 20:04] spotUP opened #88 ".modal-dialog-centered isn't working"
Hi, i want my modal to be centered, but it ends up to the upper left?

[2020-07-02 09:09] spotUP opened #89 "Menu doesn't colapse into a hamburger on mobile"
I tried with a bootstrap example that should colapse into a hamburger as well but no go.

[2020-07-04 14:27] spotUP commented on #88
i solved it with some css in the meantime.

[2020-07-16 19:03] spotUP commented on #89
whe're ya at dude?

[2020-07-17 20:24] kristopolous commented on #88
oh hey I don't know why these things are missed. Thanks. I kinda got distracted with other things in life but I just ordered the floppy labels so I'll be getting back to finishing this up.

[2020-07-17 20:25] kristopolous commented on #87
send me a link and I'll look into it

[2020-07-17 20:25] kristopolous commented on #87
sorry, things get way lost in my github notifications.

[2020-07-24 21:27] spotUP commented on #88
Sounds good!

[2020-07-29 04:21] sburban-oracle commented on #87
No problem, I don't care much about the problem any more seeing as I just wasn't completely familiar with the theme. I got it under control. But on the other hand do you mind telling me where I can find the config.json file for this theme? Thanks a ton.

[2020-09-16 20:59] kristopolous commented on #89
Depression's a bitch. let me look into it.

[2020-09-17 06:40] spotUP commented on #89
Oh.. I hope you feel better now!

[2020-10-12 21:31] bfalchuk commented on #88
@spotUP can you share how you centered the modal?  thank you

[2020-10-14 22:45] daemonspudguy opened #92 "How can I use this with Jekyll?"
I feel like an idiot for asking this, but how can I use this with my Jekyll site?

[2020-10-15 15:10] bfalchuk commented on #88
Continuing.. Would really like to get ability to center the modal as well (as per @spotUP  issue).   And I'd love to see ability to do full-width modal.
In the meantime are there any practical tips on how to achieve either or both of: full-width modal, centered modal ?  (messing with various controls and css attributes like min-width and so on I cannot seem to wrangle it by first principles..)

[2020-10-18 20:45] spotUP commented on #89
Any news? How are you?

[2020-11-24 10:26] kristopolous commented on #92
oh you aren't. I'm the idiot here for not knowing what jekyll is. Can you link me so I can see?

[2020-11-24 10:28] kristopolous commented on #89
Just sold my company (I think). Took 6 months. I'm getting back on this. I'm making a propaganda page http://9ol.es/bootstra/ (themed to look like the web from 1993/1994) and will fix these bugs up, get a demo ready, buy a domain, make some actual floppies, and do this for real.

[2020-11-24 10:51] kristopolous commented on #89
ok, http://bootstra386.com/ ... there we go

[2020-11-24 10:58] kristopolous commented on #89
I also created this crazy tool to browse apache directory listings (like http://aries.ucsd.edu/ICONS/AICONS/Buttons/ for instance) into an image gallery "http://9ol.es/apache-img.php?u=http://aries.ucsd.edu/ICONS/AICONS/Buttons/" ... this is so I can search "Index of" and "apache" and say "email2.gif" and [get some nice vintage results](https://www.google.com/search?q=%22Index+of%22+%22apache%22+%

[2020-11-25 02:56] daemonspudguy commented on #92
https://jekyllrb.com

On Tue, Nov 24, 2020, 05:26 chris mckenzie <notifications@github.com> wrote:

[2021-01-01 13:12] spotUP commented on #89
The hamburger menu still doesn't work as intended on your demo site though?

[2021-01-01 13:12] spotUP commented on #83
Any news on this?

[2021-01-06 15:01] daemonspudguy commented on #92
@kristopolous I have since switched to hugo for my site which has a direct port of this theme.

[2021-01-06 15:01] #92 closed

[2021-01-17 02:33] spotUP commented on #89
I got it working on my site now, it was a few missing css classes that caused it.

[2021-01-17 02:52] spotUP commented on #88
@bfalchuk it doesn't work for me anymore.. i just tried to center it again, but failed.

[2021-01-17 03:48] bfalchuk commented on #88
@spotUP ok thanks for the comment; although it would have been a nice to have, I am living with it now in its current form.

[2021-02-07 10:48] dag7dev commented on #61
is this issue still alive? does it still occur?
which file are you talking about? (location)

[2021-02-07 10:50] dag7dev commented on #12
@kristopolous as bower is deprecated, I suggest to close this issue.
As you can learn here: https://bower.io/docs/creating-packages/

[2021-02-07 10:58] dag7dev opened #96 "Broken example image in the wiki"
https://github.com/kristopolous/BOOTSTRA.386/wiki/DOS-Terminal-Capability-Tutorial

When it says "The important thing here is that because these were characters, you didn't get clean backgrounds using them. Here's an example:" the image is missing.

(to be more specific giving a peek in the source code: http://techpubs.sgi.com/library/dynaweb_docs/0530/SGI_EndUser/books/SWin_UG/sgi_html/figures/57

[2021-02-07 11:00] dag7dev commented on #89
@spotUP
So you managed to get it working?

[2021-02-07 12:01] spotUP commented on #89
No issues, use the developer tools and you can see what classes it wants.

[2021-02-26 18:55] Visual917 opened #97 "Text - Weird check boxes?"
![image](https://user-images.githubusercontent.com/30579752/109342633-30ce3e80-787d-11eb-82de-ae0834e40db0.png)

I have two text objects on the page. "Help Text" to be exact since I am using the theme with Bootstrap Studio. When I start the preview for the page, these show and become invisible two seconds after. How to fix this?

[2021-03-02 08:57] spotUP opened #98 "Underwhelming tables"
Hi! The tables are a bit underwhelming compared to the bootsrap tables, missing pagination, sorting, search etc.
Could that be added?

[2021-03-02 09:05] spotUP commented on #98
search and pagination can be added but sorting would be dope.

[2021-05-03 17:30] z3xddd opened #100 "[NOT A ISSUE] Question about CSS"
Hello @kristopolous,

I would like to congratulate you and everyone who contributed to this project, it was awesome and I hope to be able to support you.

I have a question about the rendering that occurs on this page: https://kristopolous.github.io/BOOTSTRA.386/index.html

I would like to know what was implemented for the rendering of the page to be done little by little, as I would like to imple

[2021-08-19 19:23] maxlefou opened #108 "[Suggestion] Add a shadow class on v4"
Would be nice to add a class that adds shadows on specific blocks that don't have any. Something like:
[code]

I tried this on a card block, a h1 block and a jumbotron block and it worked great. Doesn't work well with a list-group but well, better not put too much shadows either, eh. :p

![Capture](https://user-images.githubusercontent.com/6705075/130131444-7028673b-be6b-4200-b01e-122150bcfb39.JPG

[2021-09-23 05:24] ser commented on #85
Now just quickly update it for 5.1 🥇

[2021-12-28 19:50] cognivore commented on #98
I think it would help if you would suggest a DOS-based design for these.

[2022-06-21 14:06] RedCatGirl opened #123 "When is the new release on bootstrap 5?"
Hi @kristopolous 😘
When is the new release **386** on **bootstrap 5**?